/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 340;
  --sat: 69%;

  --first-color: hsl(var(--hue), var(--sat), 61%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Plus Jakarta Sans', sans-serif;

  --h1-font-size: 1.5rem;
  --h2-font-size: 1.05rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}
/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
	display: grid;
	gap: 1.5rem;
}


/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 34px;
  border-radius: 50%;
}

.nav__img-logo {
  height: 32px;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }

  .container {
    max-width: 1200px;
    width: 90%;
  }

  
}

.nav__img-logo {
  height: 36px;
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: .25rem;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
}

.nav__icon {
  font-size: 1.25rem;
}
/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}


/* ===home===== */
button {
  cursor: pointer;
  padding: .35rem .8rem;
}
.home__container {
  padding: 1rem .5rem 0 .5rem;
  max-width: 800px;
  margin-top: 4rem;
}


.hello__text {
  color: #000;
  font-weight: 500;
  font-size: var(--h1-font-size);
}

.welcome__text {
  font-weight: 600;
  color: #000;
  font-size: var(--h2-font-size);
}

.home__clubname {
  font-weight: 600;
  color: var(--first-color);
  font-size: var(--h2-font-size);
}

.clbname-tick {
  color: #0097FE;
}

.join__button {
  font-family: var(--body-font);
  display: inline-flex;
  align-items: center;
  margin-top: .6rem;
  font-size: var(--normal-font-size);
  background-color: var(--first-color);
  border: none;
  color: var(--body-color);
  border-radius: 20px;
}

.join__button:hover {
  background-color: var(--first-color-alt);
  transition: .3s;
  transform: scale(1.05);
}

.join__button-icon {
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--body-color);
}
.join__button-text {
  margin-left: 3px;
  font-weight: 500;
}

.social__home {
  margin-top: .5rem;
}

.social__link {
  margin-top: .1rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.social__icon {
  color: var(--body-color);
  padding: .05rem;
  background-color: var(--text-color);
  border-radius: 10%;
  font-size: 1rem;
}

.social__icon:hover {
  background-color: var(--first-color-alt);
  transition: .3s;
}

.social__text:hover {
  color: var(--first-color-alt);
  transition: .3s;
}
.social__text {
  color: var(--text-color);
  margin-left: .3rem;
  font-weight: 500;
  font-size: var(--normal-font-size);
}

.homebanner__img {
  margin: 3rem 0 0 0;
  display: block;
  width: 60%;
}

.home__header {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.welcome__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/* ===Document===== */
.atv__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem .5rem 4rem .5rem;
  width: 100%;
}

.atv__header {
  text-align: center;
}

.atv__header-title {
  background: radial-gradient(circle at 1.2% 5.3%, rgb(255, 85, 166) 0%, rgb(255, 154, 98) 100.2%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}

.atv__header-img {
  display: block;
  margin: auto;
  align-items: center;
  width: 65%;
}

.atv__card {
  width: 90%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 15px 20px;
  border: 1px solid #F9F5F6;
  background-color: #FAFAFA;
  border-radius: 10px;
  box-shadow: 0 1px 10px hsla(var(--hue), var(--sat), 15%, 0.16);
}


.atv__title {
  background: linear-gradient(118.4deg, rgb(122, 35, 52) 27.5%, rgb(62, 9, 27) 92.7%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  margin-bottom: 8px;
  font-size: var(--h2-font-size);
  font-weight: 600;
}

.date__icon {
  display: inline-flex;
}

.date__label {
  font-weight: 500;
  margin-left: 3px;
  font-size: 13px;
}
.atv__date {
  color: #323232;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.atv__status_i {
  font-weight: 600;
  display: flex;
  padding: 3px 14px;
  color: #FFF;
  font-size: 13px;
  background-color: #2dc653;
  border-radius: 4px;
}

.atv__status_o {
  font-weight: 600;
  display: flex;
  padding: 3px 9px;
  color: #FFF;
  font-size: 13px;
  background-color: #ebb523;
  border-radius: 4px;
}

.atv_info {
  display: flex;
  flex-direction: column;
}


.atv__subtitle {
  display: flex;
  justify-content: space-between;
}

.atv__button_link_i {
  margin-top: auto;
  background-image: linear-gradient(89.8deg, rgb(39, 115, 255) 4.3%, rgb(62, 211, 232) 101.4%);
  border: none;
  border-radius: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  height: 35px;
}

.atv__button_link_o {
  margin-top: auto;
  background-color: #b6b6b6;
  border: none;
  border-radius: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  height: 35px;
}


.atv__button_link:hover {
  background-image: radial-gradient(circle at 10% 20%, rgb(99, 55, 255) 0%, rgb(39, 170, 255) 90%);
  transition: .3s;
}

.atv__button {
  font-family: var(--body-font);
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

.download__icon {
  font-size: 1.3rem;
  color: #fff;
}

.atv__button:hover {
  transition: .3s;
}


.atv__button-text {
  color: #fff;
  margin-left: 5px;
  font-size: var(--normal-font-size);
  font-weight: 500;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For medium devices */
@media screen and (min-width: 576px){
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
  .home__container {
    padding: 2rem 0rem 0rem 0rem;
  }
  .homebanner__img {
    width: 40%;
  }
  .atv__container {
    padding-top: 3rem;
  }
  .atv__header-img {
    width: 55%;
  }
}

@media screen and (min-width: 767px){
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
  }
  .nav__link:hover {
    color: var(--first-color)
  }
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }
  .home__container {
    padding: 3rem 0rem 0rem 0rem;
  }
  .homebanner__img {
    width: 30%;
  }
  .atv__container {
    padding-top: 4rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px){
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .nav__img-logo {
    height: 40px;
  }

  .home__container {
    width: 60%;
    padding: 4rem 0rem 0rem 0rem;

  }
  .homebanner__img {
    width: 30%;
  }
  .home__header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .atv__card {
    max-width: 1000px;
    width: 90%;
  }
}

/* ====toast==== */
#toast {
  border: 1px solid #FFE4C9;
  font-weight: 600;
  font-family: var(--body-font);
  box-shadow: 0 1px 10px hsla(var(--hue), var(--sat), 15%, 0.2);
  visibility: hidden;
  min-width: 250px;
  background-color: #FFF7F1;
  color: #D24545;
  text-align: center;
  border-radius: 20px;
  padding: 14px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  transition: visibility 0.5s, opacity 0.5s linear;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.icon__toast{ 
  font-size: 24px;
}

.comingsoon {
  font-size: 20px;
  margin-top: 6rem;
  text-align: center;
}

.bxs-ghost {
  font-size: 36px;
}
